################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SPJenisCat/FileContentIndex/d9a679c2-4c41-44cd-b628-88c231cc0bad.vsidx
