@page "/"

<PageTitle>Index</PageTitle>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
            <h1 class="text-lg">Hello, world!</h1>

            Welcome to your new app.
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
            <button class="btn btn-info text-black"><i class="fas fa-plus text-white"></i></button>
            </div>
        </div>
    </div>
</div>



<SurveyPrompt Title="How is Blazor working for you?" />
